In [1]:
import numpy as np 
import pandas as pd
from datetime import datetime 
time = pd.date_range(start='10/1/2022', end='11/1/2022',freq='min')
print(time)

DatetimeIndex(['2022-10-01 00:00:00', '2022-10-01 00:01:00',
               '2022-10-01 00:02:00', '2022-10-01 00:03:00',
               '2022-10-01 00:04:00', '2022-10-01 00:05:00',
               '2022-10-01 00:06:00', '2022-10-01 00:07:00',
               '2022-10-01 00:08:00', '2022-10-01 00:09:00',
               ...
               '2022-10-31 23:51:00', '2022-10-31 23:52:00',
               '2022-10-31 23:53:00', '2022-10-31 23:54:00',
               '2022-10-31 23:55:00', '2022-10-31 23:56:00',
               '2022-10-31 23:57:00', '2022-10-31 23:58:00',
               '2022-10-31 23:59:00', '2022-11-01 00:00:00'],
              dtype='datetime64[ns]', length=44641, freq='T')

In [2]:
time = pd.date_range(start='10/1/2022', end='11/1/2022',freq='min')
df=pd.DataFrame(time,columns=['datetime'])
print(df)

                 datetime
0     2022-10-01 00:00:00
1     2022-10-01 00:01:00
2     2022-10-01 00:02:00
3     2022-10-01 00:03:00
4     2022-10-01 00:04:00
...                   ...
44636 2022-10-31 23:56:00
44637 2022-10-31 23:57:00
44638 2022-10-31 23:58:00
44639 2022-10-31 23:59:00
44640 2022-11-01 00:00:00

[44641 rows x 1 columns]

In [3]:
import numpy as np 
import pandas as pd
from datetime import datetime 
time = pd.date_range(start='10/1/2022', end='11/1/2022',freq='min')
df=pd.DataFrame(time,columns=['datetime'])
df['DATA'] = np.random.randint(0,100,size=(len(time)))
print(df)
df.head()
#df.head(20)

                 datetime  DATA
0     2022-10-01 00:00:00    52
1     2022-10-01 00:01:00    49
2     2022-10-01 00:02:00    32
3     2022-10-01 00:03:00    35
4     2022-10-01 00:04:00    41
...                   ...   ...
44636 2022-10-31 23:56:00    17
44637 2022-10-31 23:57:00    33
44638 2022-10-31 23:58:00    69
44639 2022-10-31 23:59:00    32
44640 2022-11-01 00:00:00    22

[44641 rows x 2 columns]

             datetime  DATA
0 2022-10-01 00:00:00    52
1 2022-10-01 00:01:00    49
2 2022-10-01 00:02:00    32
3 2022-10-01 00:03:00    35
4 2022-10-01 00:04:00    41